<!DOCTYPE html>
<html ng-app="Illustrations" ng-controller="MainCtrl as control" ng-init="control.getData()">
  <head>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/layout.css" />
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <div class="sidebar">
        <h4>Options</h4>
        <span class="mapTitle">Current Map: {{mapName}}</span>
        <button class="btn btn-success changeMapButton" ng-click="control.changeMap(mapName)">Change Map</button>
        <span class="username">Current User: {{username}}</span>

        <label class="editModeLabel"><input id="editMode" type="checkbox" ng-click="toggleEditMode()"></input>Edit Mode</label>
    </div>

    <div id="mapArea" class="mapArea" ng-click="control.placeButton(e)">
        <div id="infoPanel" class="infoPanel">
            <div id="infoTitle" class="infoTitle" contenteditable="false" spellcheck="false"></div>
            <div id="infoContent" class="infoContent" contenteditable="false" spellcheck="false"></div>
            <button class="btn btn-info" ng-click="saveButton()">Save</button>
            <button class="btn btn-success" ng-click="closeInfoPanel()">Close</button>
            <button class="btn btn-danger" ng-click="deleteButton()">Delete</button>
        </div>
    </div>
  </body>
</html>